bin/
obj/
_gsdata_/
*CMakeFiles
*.cmake
*Makefile
CMakeCache.txt
*historydb_example
*libhistorydb*


debian/files

*.log

*.substvars

debian/historydb-dbg/DEBIAN/control

debian/historydb-dbg/DEBIAN/md5sums

debian/historydb-dbg/usr/share/doc/historydb-dbg/copyright

.DS_Store

*.DS_Store

debian/historydb-dbg/usr/share/doc/historydb-dbg/changelog

debian/historydb-dbg/usr/share/doc/historydb-dbg/changelog.gz

debian/historydb.postinst.debhelper

*.debhelper

debian/historydb/DEBIAN/control

debian/historydb/DEBIAN/postinst

install_manifest.txt

debian/historydb/DEBIAN/md5sums

debian/historydb/DEBIAN/postrm

._.gitignore

debian/historydb/DEBIAN/shlibs

debian/historydb/usr/include/historydb/iprovider.h

debian/historydb/usr/share/doc/historydb/README.md

debian/historydb/usr/share/doc/historydb/changelog.gz

debian/historydb/usr/share/doc/historydb/copyright
