Source: historydb
Section: database
Priority: optional
Maintainer: Kirill Smorodinnikov <shaitan@yandex-team.ru>
Build-Depends:	debhelper (>= 7.0.50~),
		cmake (>= 2.6),
		libboost-dev,
		libboost-system-dev,
		libboost-thread-dev,
		libfastcgi-daemon2-dev,
		elliptics-dev (>= 2.25),
		libmsgpack-dev
Standards-Version: 3.8.0
Homepage: http://github.com/reverbrain/historydb/
Vcs-Git: git://github.com/reverbrain/historydb.git
Vcs-Browser: https://github.com/reverbrain/historydb

Package: historydb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: History DB is a trully scalable (hundreds of millions updates per day) distributed archive system
 with per user and per day activity statistics.

Package: historydb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: historydb (= ${binary:Version}), ${misc:Depends}
Description: History DB is a trully scalable (hundreds of millions updates per day) distributed archive system
 with per user and per day activity statistics.
